<footer style="width: 100vw;">
    <div class="f-info">
      <div>
        <h4 style="margin-top: 1rem;">TravelerNest</h4>
        <p style="margin-bottom: 1px;">Your Trust source for global information</p>
      </div>
    <div class="f-info-socials">
      <a href="https://www.facebook.com/souravkumar.gupta" style="color: rgb(0, 153, 255);"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="https://www.instagram.com/kumar_saurav008 " style="color: rgb(198, 17, 198);""><i class="fa-brands fa-square-instagram"></i></a>
      <a href="https://www.linkedin.com/in/saurav-kumar-09b723273"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    ----------------------------------------------------------------------------------------------------------------
    <div class="f-info-brand">Copyright &copy; 2024 TravelNest Private limited . All rights reserved.</div>
    <div class="f-info-links">
      <p>PrivacyPolicy &nbsp;Terms & Conditions </p>
    </div> 
    </div>
  </footer>
  